.container-wrapper { 
  padding-left: 230px;
  padding-top: 65px;
  transition: 0.5s;
 }
 .content-wrapper{
   margin-top: 65px;
   transition: 0.5s;
 }
 
 @media (max-width: 768px) {
  .container-wrapper {
    padding-left: 10px !important;
    padding-top: 65px !important;
  }
}
.container{
	bottom: 25px;
    left: 450px;
    right: 0;
}