@import '../../base.scss';

.navbar{
	z-index: 1000;
	width: 100%;
	height: 60px;
	form {
			padding-top: 15px;
			padding-right: 20px;
	}
}

@media (max-width: 768px) {
  .collapse {
    margin-left: 70% !important;
    // padding-top: 65px !important;
	}
	// .search{
	// 	display: none !important;
	// }
}
