
#mySidenav.open {
  width:250px;
 } 
.sidebar {
  height: 100%; 
  width: 220px; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color:rgb(39, 44, 49); 
  overflow-x: hidden; 
  transition: 0.5s;
  margin-top: 60px;
}
.sidebar .sidebar-menu-heading{
  padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
}


#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}