.table-header-container{
	display:flex;
	justify-content: space-between;
}
.table{
width: 100%;
}

@media (max-width: 720px) {
	.react-bootstrap-table table {
    table-layout: fixed;
    width: auto;
}
}
