.table-header-container{
	display:flex;
	justify-content: space-between;
}
// .react-bootstrap-table table{
// width: 100%;
// // overflow: auto;
// // display: block;
// // table-layout: auto;
// }

@media (max-width: 920px) {
	.react-bootstrap-table table {
    table-layout: fixed;
    width: auto;
}
}
